p{
	text-align: left;
}
h3{
	color: #ffc200;
}
.raya{
	border-bottom: dashed 3px #989898;
}
p{
	color: #989898;
}
.ver{
	width: 100px;
	height: 30px;
	color: #ff6a49;
	border:solid #ff6a49 1px;
	border-radius: 10%;
	padding: 1%;	
	text-align: center;
	margin-top: 3%;
	float: right;
	display: inline-block;
}